---
 const personalImageAlt = "Juan del Río"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p> My name is Juan. I discovered programming for the first time in school while 
  experimenting with Arduino, and I was fascinated by the ability to give a machine its own functionality. 
  Since then, I have firmly believed in <strong>the power of technology to create solutions that 
  positively impact the world</strong>. 
</p> 
<p> I am currently working on designing an innovative project that <strong>aims 
  to revolutionize mass transit</strong> by improving the user experience through 
  the use of UWB technologies. 
</p> 
<p> My focus has always been on developing ideas that not only solve problems but 
also <strong>help build a more connected and efficient future</strong>. 
</p>
  </div>

  <img width="200" height="200" src="/juandelrio.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

<!--
<p>
     Me llamo Juan. Descubrí la programación por primera vez en el colegio, experimentando 
     con Arduino, y me fascinó el hecho de poder dotar a una máquina de su propia funcionalidad.
     Desde entonces, he creído firmemente en <strong>el poder de la tecnología para crear soluciones
     que impacten positivamente al mundo</strong>.
    </p>
    <p>
    Actualmente, estoy trabajando en el diseño de un proyecto innovador que <strong>busca revolucionar el tránsito
    másivo </strong> mejorando la experiencia del usuario mediante el uso de tecnologías UWB.
    </p>
    <p>
    Mi enfoque siempre ha estado en desarrollar ideas que no solo resuelvan problemas, 
    sino que también <strong> ayuden a construir un futuro más conectado y eficiente</strong>.
    </p>


-->
